<!-- Citation for the following code (the entirety of this file):
Title: Node.js Starter App
Type: Full program
Date: 05/25/2023
Copied and then modified to fit our database structure:
Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app

Citation for the pattern matching validation attribute.
Date: 6/6/2023
Type: adapted for phone numbers add and updates
Copied for our form validation of phone numbers.
Source URL: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/tel

Citation for the pattern matching validation attribute.
Date: 6/7/2023
Type: adapted for email add and updates
Copied for our form validation of emails.
Source URL:
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/email
-->

<!-- agents.hbs -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

 <h2>Agents</h2>
{{!-- Create a table --}}
<div id="browse">
 <table id="customerTable" border="1" cellpadding="5">
    <caption>Current Agents Listing</caption>
    {{!-- Body section --}}
    <tbody>
        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr class="customerCol">
            <th class="customerH">Agent ID</th>
            <th class="customerH">First Name</th>
            <th class="customerH">Last Name</th>
            <th class="customerH">Email</th>
            <th class="customerH">Phone Number</th>
            <th class="customerH">Location</th>
        </tr>

        {{!-- For each row, print the id and other fields in order --}}
        {{#each agentData}}
        <tr data-value={{this.agentId}}>
            <td>{{this.agentId}}</td>
            <td>{{this.firstName}}</td>
            <td>{{this.lastName}}</td>
            <td>{{this.email}}</td>
            <td>{{this.phoneNumber}}</td>
            <td>{{this.location}}</td>
        </tr>
        {{/each}}
    </tbody>
 </table>
</div>

<!-- Insert -->
<div id="insert">
        <form id="add-agent-form">
            <legend><strong>Add Agent</strong></legend>
            <fieldset class="fields">
              <label for="firstName" class="required"> First Name </label>
              <input type="text" name="firstName" required id="input-firstName" maxlength="50"/>
              <label for="lastName" class="required"> Last Name </label>
              <input type="text" name="lastName" required id="input-lastName" maxlength="80"/>
              <label for="email" class="required"> Email </label>
              <input type="email" name="email" id="input-email" maxlength="100" pattern="[^ @]+@[^ @]+.[a-z]+" placeholder="name@email.com" required/>
              <label for="phoneNumber" class="required"> Phone Number </label>
              <input type="text" name="phoneNumber" required id="input-phoneNumber" maxlength="15" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="Format: xxx-xxx-xxxx"/>
              </br>
              <label for="locationId"> Location </label>
              <select name="locationId" id="input-locationId">
                <option value="0"></option>
                {{#each locationData}}
                <option value="{{this.locationId}}">{{this.location}}</option>
                {{/each}}
              </select> 
              <caption>* these fields are required</caption>
              </fieldset>
              <input class="btn" type="submit" id="addAgent" value="Add Agent">
        </form> 
</div><!-- insert -->

<script src="./js/add_agent.js"></script>