<!-- customerReservation.hbs -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

 <h2>CustomerReservation</h2>
{{!-- Create a table --}}
<div id="browse">
 <table id="customerTable" border="1" cellpadding="5">
    <caption>Current CustomerReservation Listing</caption>
    {{!-- Header section --}}
    <thead></thead>

    {{!-- Body section --}}
    <tbody>
        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr class="customerCol">
            {{#each customerReservationData.[0]}}
            <th class="customerH">
                {{@key}}
            </th>
            {{/each}}
            <th>Delete</th>
        </tr>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each customerReservationData}}
        <tr data-value={{this.customerReservationId}}>>
            <td>{{this.customerReservationId}}</td>
            <td>{{this.customer}}</td>
            <td>{{this.reservationId}}</td>
            <td><button onclick="deletePerson({{this.id}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
 </table>
</div>

<div id="reference">
  <h3>Reservations</h3>
  <table id= "customerTable" border="1" cellpadding="5">
      <caption>Reservations Listing (For Reference)</caption>
      <thead></thead>
      <tbody>
        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr class="customerCol">
            {{#each reservationData.[0]}}
            <th class="customerH">
                {{@key}}
            </th>
            {{/each}}
        </tr>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each reservationData}}
        <tr data-value={{this.reservationId}}>
            <td>{{this.reservationId}}</td>
            <td>{{this.agent}}</td>
            <td>{{this.startDate}}</td>
            <td>{{this.endDate}}</td>
        </tr>
        {{/each}}
    </tbody>
  </table>
</div> <!-- reference -->

<script src="./js/delete_person.js"></script>

<!-- /views/index.hbs -->
<h2>Adding Data using an HTML form</h2>
<p>To add a new person, please enter their information below and click `Submit`!</p>
<form id="add-person-form" method="POST" action="/add-person-form">
    <label for="input-fname">First Name: </label>
    <input type="text" name="input-fname" id="input-fname-ajax">
    
    <label for="input-lname">Last Name: </label>
    <input type="text" name="input-lname" id="input-lname-ajax">

    <label for="input-homeworld">Homeworld: </label>
    <select name="input-homeworld" id="input-homeworld-ajax">
        <option value="">Select a Planet</option>
        {{#each planets}}
        <option value="{{this.id}}">{{this.name}}</option>
        {{/each}}
    </select>

    <label for="input-age">Age: </label>
    <input type="number" name="input-age" id="input-age-ajax">

    <input type="submit">
</form>


<!-- /views/index.hbs -->

{{!-- Form to add a record to the table  --}}
<h2>Adding Data with AJAX</h2>
<p>To add a new person, please enter their information below and click 'Submit'!</p>
<form id="add-person-form-ajax">
    <label for="input-fname">First Name: </label>
    <input type="text" name="input-fname" id="input-fname">
    
    <label for="input-lname">Last Name: </label>
    <input type="text" name="input-lname" id="input-lname">


    <label for="input-homeworld">Homeworld: </label>
    <select name="input-homeworld" id="input-homeworld">
        <option value="">Select a Planet</option>
        {{#each planets}}
        <option value="{{this.id}}">{{this.name}}</option>
        {{/each}}
    </select>

    <label for="input-age">Age: </label>
    <input type="number" name="input-age" id="input-age">

    <input type="submit">
</form>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_person.js"></script>


<h2>Search Using an HTML Form</h2>
<p>Search by last name using the field below. Partial last names are OK too!</p>
<form id="search-person-html" method='GET' action='/'>
    <label for="input-lname">Search by Last Name: </label>
    <input type="text" name="lname" id="input-lname-html-search">
    
    <input type="submit">
    <a href='/'><button>Reset</button></a>
</form>

<h2>Updating A User's HomeWorld Form</h2>
<p>To update a specific user's homeworld select their name from the drop-down menu on the left and their desired homeworld from the drop down menu on the right</p>
<form id="update-person-form-ajax">

    <label for="input-fullname">Full name: </label>
    <select name="input-fullname" id="mySelect">
        <option value="test">Select a Person</option>
        {{#each data}}
        <option value="{{this.id}}">{{this.fname}} {{this.lname}}</option>
        {{/each}}
    </select>

    <label for="input-homeworld">Homeworld: </label>
    <select name="input-homeworld" id="input-homeworld-update">
        <option>Select a Planet</option>
        {{#each planets}}
        <option value="{{this.id}}">{{this.name}}</option>
        {{/each}}
    </select>
    <input type="submit">

</form>

<script src="./js/update_person.js"></script>

