<!-- customerReservation.hbs -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

 <h2>CustomerReservation</h2>
{{!-- Create a table --}}
<div id="browse">
 <table id="customerTable" border="1" cellpadding="5">
    <caption>Current CustomerReservation Listing</caption>
    {{!-- Header section --}}
    <thead></thead>

    {{!-- Body section --}}
    <tbody>
        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr class="customerCol">
            {{#each customerReservationData.[0]}}
            <th class="customerH">
                {{@key}}
            </th>
            {{/each}}
            <th>Delete</th>
        </tr>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each customerReservationData}}
        <tr data-value={{this.customerReservationId}}>>
            <td>{{this.customerReservationId}}</td>
            <td>{{this.customer}}</td>
            <td>{{this.reservationId}}</td>
            <td><button onclick="deleteCustomerReservation({{this.customerReservationId}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
 </table>
</div>

<div id="reference">
  <h3>Reservations</h3>
  <table id= "customerTable" border="1" cellpadding="5">
      <caption>Reservations Listing (For Reference)</caption>
      <thead></thead>
      <tbody>
        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr class="customerCol">
            {{#each reservationData.[0]}}
            <th class="customerH">
                {{@key}}
            </th>
            {{/each}}
        </tr>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each reservationData}}
        <tr data-value={{this.reservationId}}>
            <td>{{this.reservationId}}</td>
            <td>{{this.agent}}</td>
            <td>{{this.startDate}}</td>
            <td>{{this.endDate}}</td>
        </tr>
        {{/each}}
    </tbody>
  </table>
</div> <!-- reference -->

<!-- Insert -->
<div id="insert">
        <form id="add-customerReservation-form">
            <legend><strong>Add CustomerReservation</strong></legend>
            <fieldset class="fields">
              <label for="customer" class="required"> Customer </label>
              <select name="customer" required id="input-customerId">
                <option value="0">Select a Customer</option>
                {{#each customerData}}
                <option value="{{this.customerId}}">{{this.customer}}</option>
                {{/each}}
              </select> 
              <label for="reservationId" class="required"> Reservation ID </label>
              <select name="reservationId" required id="input-reservationId">
                <option value="0">Select a Reservation ID</option>
                {{#each reservationData}}
                <option value="{{this.reservationId}}">{{this.reservationId}}</option>
                {{/each}}
               </select> 
              <caption>* these fields are required</caption>
              </fieldset>
              <input class="btn" type="submit" id="addCustomerReservation" value="Add CustomerReservation">
        </form> 
</div><!-- insert -->

<!-- Update -->
<div id="update">
    <form id="update-customerReservation-form">
        <legend><strong>Update CustomerReservation</strong></legend>
        <fieldset class="fields">
          <label class="required">For Customer Reservation ID:</label>
          <select name="id" required id="input-customerReservationId-update">
                <option value="0">Select a CustomerReservation Id</option>
                {{#each customerReservationData}}
                <option value="{{this.customerReservationId}}">{{this.customerReservationId}}</option>
                {{/each}}
              </select> 
        <label for="customer" class="required"> Customer </label>
          <select name="customer" required id="input-customerId-update">
                <option value="0">Select a Customer</option>
                {{#each customerData}}
                <option value="{{this.customerId}}">{{this.customer}}</option>
                {{/each}}
              </select> 
              <label for="reservationId" class="required"> Reservation ID </label>
              <select name="reservationId" required id="input-reservationId-update">
                <option value="0">Select a Reservation ID</option>
                {{#each reservationData}}
                <option value="{{this.reservationId}}">{{this.reservationId}}</option>
                {{/each}}
               </select> 
           <caption>* these fields are required</caption>
          </fieldset>
          <input class="btn" type="submit" id="updateCustomerReservation" value="Update CustomerReservation">
    </form> 
</div><!-- update -->

<script src="./js/add_customerReservation.js"></script>
<script src="./js/update_customerReservation.js"></script>
<script src="./js/delete_customerReservation.js"></script>
