<!-- Citation for the following code (the entirety of this file):
Title: Node.js Starter App
Type: Full program
Date: 05/25/2023
Copied and then modified to fit our database structure:
Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app
-->

<!-- reservation.hbs -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<h2>Reservations</h2>
{{!-- Create a table --}}
<div id="browse">
    <table id="customerTable" border="1" cellpadding="5">
        <caption>Current Reservations Listing</caption>
        {{!-- Body section --}}
        <tbody>
            {{!-- For just the first row, we print each key of the row object as a header cell so we
            know what each column means when the page renders --}}
            <tr class="customerCol">
                {{!-- {{#each reservationData.[0]}}
                <th class="customerH">
                    {{@key}}
                </th>
                {{/each}} --}}
                {{!-- Enhancement: swapping handlebar th with listing col names instead --}}
                <th class="customerH">Reservation ID</th>
                <th class="customerH">Agent</th>
                <th class="customerH">Start Date (YYYY-MM-DD)</th>
                <th class="customerH">End Date (YYYY-MM-DD)</th>

                <th>Delete</th>
            </tr>

            {{!-- For each row, print the id and other fields in order --}}
            {{#each reservationData}}
            <tr data-value={{this.reservationId}}>
                <td>{{this.reservationId}}</td>
                <td>{{this.agent}}</td>
                <td>{{this.startDate}}</td>
                <td>{{this.endDate}}</td>
                <td><button onclick="deleteReservation({{this.reservationId}})">Delete</button></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<!-- Insert -->
<div id="insert">
    <form id="add-reservation-form">
        <legend><strong>Add Reservation</strong></legend>
        <fieldset class="fields">
            <label for="agent"> Agent </label>
                <select name="agent" id="input-agentId">
                    <option value="0"></option>
                    {{#each agentData}}
                    <option value="{{this.agentId}}">{{this.agent}}</option>
                    {{/each}}
                </select>
            <label for="startDate" class="required"> Start Date </label>
                <input type="date" name="startDate" id="input-startDate" maxlength="8" required/>
            <label for="endDate" class="required"> End Date </label>
                <input type="date" name="endDate"  id="input-endDate" maxlength="8" required/>
            </br>
            <caption>* these fields are required</caption>
        </fieldset>
        <input class="btn" type="submit" id="addReservation" value="Add Reservation">
    </form>
</div><!-- insert -->

<script src="./js/add_reservation.js"></script>
<script src="./js/delete_reservation.js"></script>